@import "base";
@import "font-awesome.min";

.ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

select.form-control {
  padding: 0.1rem;
  display: inline-block;
  width: auto;
  height: 1.7rem !important;
  position: relative;
  top: 1px;
}

.tracker-list h4 {
  margin-bottom: 0;
  border-bottom: none;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.header-tabbed {
  border-bottom: 3px solid #ddd;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  h2 {
    margin: 0;

    @include media-breakpoint-down(xs) {
      flex-grow: 1;
      text-align: center;
    }
  }

  .nav {
    border: none;
    margin: 0;
    flex-grow: 1;
    padding-top: 0.5rem;

    @include media-breakpoint-down(xs) {
      padding-top: 1rem;
      justify-content: center;
    }
  }

  form {
    margin: 0;
  }

  button.nav-link {
    background: inherit;
  }
}
