@import "base";
@import "font-awesome.min";

.ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

select {
  padding: 0.1rem;
}

.tracker-list h4 {
  margin-bottom: 0;
  border-bottom: none;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
