@import "base";
@import "font-awesome.min";

.ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

select.form-control {
  padding: 0.1rem;
  display: inline-block;
  width: auto;
  height: 1.7rem !important;
  position: relative;
  top: 1px;
}

.tracker-list h4 {
  margin-bottom: 0;
  border-bottom: none;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
