{% extends "todo.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% if profile %}
      <h2>
        ~{{ profile.get("username") }}
      </h2>
      {% else %}
      <h2>todo</h2>
      <p>
        Welcome back, {{ current_user.username }}!
      </p>
      {% endif %}

      {% if profile %}
      {% if profile.get("location") %}
      <p>{{profile["location"]}}</p>
      {% endif %}
      {% if profile.get("url") %}
      <p>
        <a href="{{profile["url"]}}" target="_blank">
          {{profile["url"]}}
        </a>
      </p>
      {% endif %}
      {% if profile.get("bio") %}
      <p>{{profile["bio"]}}</p>
      {% endif %}
      {% endif %}

      {% if profile and (current_user and user.id == current_user.id) %}
      <div class="alert alert-info">
        This is your public profile page.
      </div>
      {% endif %}

      <h3>{{ tracker_list_msg }}</h3>
      {% if len(trackers) > 0 %}
      <div class="tracker-list">
        {% for tracker in trackers %}
        <h4>{{ format_tracker_name(tracker, full=True) }}</h4>
        <span class="text-muted">Last active {{ tracker.updated | date }}</span>
        {% endfor %}
      </div>
      {% if not user or (current_user and user.id == current_user.id) %}
      <a
        style="margin-top: 1rem"
        class="btn btn-default btn-block"
        href="{{ url_for("tracker.create_GET") }}"
      >Create new tracker</a>
      {% endif %}
      {% else %}
      <p>
        Nothing here yet! Would you like to
        <a href="{{ url_for("tracker.create_GET") }}">create one</a>?
      </p>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h3>Recent Activity</h3>
      {% include 'events.html' with context %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
