{% extends "todo.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% if profile %}
      <h2>
        ~{{ profile.get("name") }}
      </h2>
      {% else %}
      <p>
        Welcome back, {{ current_user.username }}!
        This is the {{cfg("sr.ht", "site-name")}} ticket tracking service.
        Documentation for its use is
        <a href="https://man.sr.ht/todo.sr.ht">available here</a>.
      </p>
      {% endif %}
      {% if notice %}
      <div class="alert alert-success">
        {{ notice }}
      </div>
      {% endif %}

      {% if profile %}
      {% if profile.get("location") %}
      <p>{{profile["location"]}}</p>
      {% endif %}
      {% if profile.get("url") %}
      <p>
        <a href="{{profile["url"]}}" target="_blank" rel="me noopener noreferrer nofollow">
          {{profile["url"]}}
        </a>
      </p>
      {% endif %}
      {% if profile.get("bio") %}
      <p>{{profile["bio"] | md}}</p>
      {% endif %}
      {% endif %}

      {% if profile and (current_user and user.id == current_user.id) %}
      <div class="alert alert-info">
        This is your public profile page.
      </div>
      {% elif not user or (current_user and user.id == current_user.id) %}
      <a
        style="margin-bottom: 1rem"
        class="btn btn-primary btn-block"
        href="{{ url_for("tracker.create_GET") }}"
      >
        Create new tracker {{icon("caret-right")}}
      </a>
      {% endif %}
      {% if len(trackers) > 0 %}
      <h3>{{ tracker_list_msg }}</h3>
      <div class="tracker-list">
        {% for tracker in trackers %}
        <h4>
          <a href="{{ tracker.owner|user_url }}"
            >{{ tracker.owner }}</a>/<a href="{{ tracker|tracker_url }}"
            >{{ tracker.name }}</a>
        </h4>
        <span class="text-muted">Last active {{ tracker.updated | date }}</span>
        {% endfor %}
      </div>
      {% if more_trackers %}
      <a
        href="{{ url_for("html.trackers_for_user",
          username=(user or current_user).username) }}"
        class="btn btn-default btn-block"
        style="margin-top: 1rem"
      >View more {{icon("caret-right")}}</a>
      {% endif %}
      {% endif %}
    </div>
    <div class="col-md-8">
      <hr class="d-md-none" />
      {% include 'events.html' with context %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
