{% extends "todo.html" %}
{% block title %}
<title>
  Edit {{tracker.name}}/#{{ticket.scoped_id}}:
  {{ticket.title}}
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header-tabbed">
      <h2>
        <span class="d-block d-md-inline">
          <a href="{{ url_for("html.user_GET",
            username=tracker.owner.username) }}"
          >{{tracker.owner.canonical_name()}}</a>/<a
            href="{{ url_for("tracker.tracker_GET",
              owner=tracker.owner.canonical_name(),
              name=tracker.name) }}"
          >{{tracker.name}}</a>/#{{ticket.scoped_id}}<span
            class="d-none d-md-inline"
          >:</span>
        </span>
        <span class="d-block d-md-inline">
          {{ticket.title}}
        </span>
      </h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="{{ url_for(".ticket_GET",
              owner=tracker.owner.canonical_name(),
              name=tracker.name,
              ticket_id=ticket.scoped_id) }}"
            class="nav-link">view</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for(".ticket_edit_GET",
              owner=tracker.owner.canonical_name(),
              name=tracker.name,
              ticket_id=ticket.scoped_id) }}"
            class="nav-link active">edit</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <form class="col-md-6" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input
           type="text"
           class="form-control {{ valid.cls("title") }}"
           maxlength="2048"
           id="title"
           name="title"
           autofocus
           value="{{ title or ticket.title or "" }}" />
        {{valid.summary("title")}}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control {{ valid.cls("description") }}"
          name="description"
          rows="5"
          placeholder="Markdown supported"
          maxlength="16384"
        >{{ description or ticket.description or "" }}</textarea>
        {{valid.summary("description")}}
      </div>
      <div class="pull-right">
        <a href="{{ url_for(".ticket_GET",
          owner=tracker.owner.canonical_name(),
          name=tracker.name,
          ticket_id=ticket.scoped_id) }}" class="btn btn-default"
        >Cancel</a>
        <button
          type="submit"
          class="btn btn-primary"
        >Save changes <i class="fa fa-caret-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
