<div class="event-list">
{% for event in events %}
  <div class="event">
    <h4>
      <a href="{{ url_for("ticket.ticket_GET",
          owner=event.ticket.tracker.owner.canonical_name(),
          name=event.ticket.tracker.name,
          ticket_id=event.ticket.scoped_id) }}">
        #{{event.ticket.scoped_id}}
      </a> {{ event.ticket.title }}
      <small class="pull-right">{{ event.created | date }}</small>
    </h4>
    <p>
    {% if EventType.created in event.event_type %}
      Ticket created by
      <a href="/~{{ event.ticket.submitter.username }}">
        ~{{ event.ticket.submitter.username }}
      </a>
    {% elif EventType.comment in event.event_type %}
      Comment by
      <a href="/~{{ event.comment.submitter.username }}">
        ~{{ event.comment.submitter.username }}
      </a>
    {% elif EventType.label_added in event.event_type %}
      Label {{ event.label|label_badge(cls="small") }} added by
      <a href="/~{{ event.user.username }}">
        ~{{ event.user.username }}
      </a>
    {% elif EventType.label_removed in event.event_type %}
      Label {{ event.label|label_badge(cls="small") }} removed by
      <a href="/~{{ event.user.username }}">
        ~{{ event.user.username }}
      </a>
    {% endif %}
      on <a href="{{ url_for("html.user_GET",
        username=event.ticket.tracker.owner.username) }}"
      >{{event.ticket.tracker.owner.canonical_name()}}</a>/<a
        href="{{ url_for("tracker.tracker_GET",
          owner=event.ticket.tracker.owner.canonical_name(),
          name=event.ticket.tracker.name) }}"
      >{{event.ticket.tracker.name}}</a>:
    </p>
    <blockquote>
      {% if event.comment %}
      {{ event.comment.text | md }}
      {% elif EventType.created in event.event_type %}
      {{ event.ticket.description | md }}
      {% endif %}
    </blockquote>
    {% if EventType.status_change in event.event_type %}
    <p>
      <strong class="text-success">
        {{ event.old_status.name.upper() }}
        {% if event.old_status == TicketStatus.resolved %}
        {{ event.old_resolution.name.upper() }}
        {% endif %}
      </strong>
      {{icon("arrow-right", cls="sm")}}
      <strong class="text-success">
        {{ event.new_status.name.upper() }}
        {% if event.new_status == TicketStatus.resolved %}
        {{ event.new_resolution.name.upper() }}
        {% endif %}
      </strong>
    </p>
    {% endif %}
  </div>
{% else %}
  <p>Nothing here yet!</p>
{% endfor %}
</div>
