{% extends "todo.html" %}
{% block title %}
<title>
  {{tracker.name}}/#{{ticket.scoped_id}}:
  {{ticket.title}}
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        {{ format_tracker_name(tracker, full=True) }}/#{{ticket.scoped_id}}:
        {{ticket.title}}
      </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if TicketAccess.edit in access %}
      <a href="{{ url_for(".ticket_edit_GET",
          owner="~" + tracker.owner.username,
          name=tracker.name,
          ticket_id=ticket.scoped_id) }}"
        class="btn btn-default pull-right">
        Edit
      </a>
      {% endif %}
      {% if ticket.description %}
      <h3>Description</h3>
      {{ ticket.description | extended_md(baselevel=4) }}
      {% endif %}
      <h3>
        Details
      </h3>
      <dl class="row">
        <dt class="col-md-3">Status</dt>
        <dd class="col-md-9">
          <strong class="text-success">
            {{ ticket.status.name.upper() }}
            {% if ticket.status == TicketStatus.resolved %}
            {{ ticket.resolution.name.upper() }}
            {% endif %}
          </strong>
        </dd>
        <dt class="col-md-3">Submitter</dt>
        <dd class="col-md-9">
          <a
            href="{{url_for("html.user_GET",
              username=ticket.submitter.username)}}"
          >~{{ ticket.submitter.username }}</a>
        </dd>
        <dt class="col-md-3">Submitted</dt>
        <dd class="col-md-9">{{ ticket.created | date }}</dd>
        <dt class="col-md-3">Updated</dt>
        <dd class="col-md-9">{{ ticket.updated | date }}</dd>
        <dt class="col-md-3">User Agent</dt>
        <dd class="col-md-9 ellipsis" title="{{ ticket.user_agent }}">
          {{ ticket.user_agent }}
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
      {% for comment in ticket.comments %}
      <h4>
        <a href="{{url_for("html.user_GET",
              username=comment.submitter.username)}}">
          ~{{ comment.submitter.username }}
        </a>
        <span class="pull-right">
          <small>{{ comment.created | date }}</small>
        </span>
      </h4>
      {{ comment.text | md }}
      {% endfor %}
      {% if TicketAccess.comment in access %}
      <h3 style="margin-top: 1rem">Add comment</h3>
      <form method="POST" action="{{
          url_for(".ticket_comment_POST",
            owner="~" + tracker.owner.username,
            name=tracker.name,
            ticket_id=ticket.scoped_id
          )
        }}">
        <div class="form-group">
          <textarea
            class="form-control {{ valid.cls("comment") }}"
            id="comment"
            name="comment"
            placeholder="Markdown supported"
            maxlength="16384"
            rows="5">{{ comment or "" }}</textarea>
          {{valid.summary("comment")}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
        >
          Comment
          <i class="fa fa-caret-right"></i>
        </button>
        {% if TicketAccess.edit in access %}
        {% if ticket.status != TicketStatus.resolved %}
        <button
          type="submit"
          class="btn btn-success"
          name="resolve"
          value="resolve"
        >
          Resolve
          <i class="fa fa-check"></i>
        </button>
        <select class="form-control" name="resolution">
          {% for r in TicketResolution %}
          {% if r.name != "unresolved" %}
          <option value="{{ r.value }}">{{ r.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
        {% else %}
        <button
          type="submit"
          class="btn btn-info"
          name="reopen"
          value="reopen"
        >
          Re-open
          <i class="fa fa-caret-right"></i>
        </button>
        {% endif %}
        {% endif %}
      </form>
      {% else %}
      {% if not ticket.comments %}
      <p>It's a bit quiet in here.</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
