{% extends "todo.html" %}
{% block title %}
<title>
  {{tracker.name}}/#{{ticket.scoped_id}}:
  {{ticket.title}}
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin: 0;">
        <span class="d-block d-md-inline">
          <a href="{{ url_for("html.user_GET",
            username=tracker.owner.username) }}"
          >{{tracker.owner.canonical_name()}}</a>/<a
            href="{{ url_for("tracker.tracker_GET",
              owner=tracker.owner.canonical_name(),
              name=tracker.name) }}"
          >{{tracker.name}}</a>/#{{ticket.scoped_id}}<span
            class="d-none d-md-inline"
          >:</span>
        </span>
        <span class="d-block d-md-inline">
          {{ticket.title}}
        </span>
      </h2>
    </div>
  </div>
</div>
<div class="header-tabbed">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-tabbed" style="border: none; margin: 0;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="{{ url_for(".ticket_GET",
                owner=tracker.owner.canonical_name(),
                name=tracker.name,
                ticket_id=ticket.scoped_id) }}"
              class="nav-link active">view</a>
          </li>
          {% if TicketAccess.edit in access %}
          <li class="nav-item">
            <a href="{{ url_for(".ticket_edit_GET",
                owner=tracker.owner.canonical_name(),
                name=tracker.name,
                ticket_id=ticket.scoped_id) }}"
              class="nav-link">edit</a>
          </li>
          {% endif %}
          {% if current_user %}
          <li class="flex-grow-1 d-none d-sm-block"></li>
          <li class="nav-item d-none d-sm-block">
            {% if not tracker_sub %}
            <form method="POST" action="{{url_for("ticket." +
                ("disable_notifications" if is_subscribed else "enable_notifications"),
                owner=tracker.owner.canonical_name(),
                name=tracker.name,
                ticket_id=ticket.scoped_id)}}">
            {% else %}
            <div>
            {% endif %}
              <button
                class="nav-link active"
                {% if tracker_sub %}
                title="You are subscribed to all activity on this tracker"
                disabled
                {% else %}
                type="submit"
                {% endif %}
              >
                {{icon("envelope-o")}}
                {% if is_subscribed or tracker_sub %}
                Disable notifications
                {% else %}
                Enable notifications
                {% endif %}
                {{icon("caret-right")}}
              </button>
            {% if not tracker_sub %}
            </form>
            {% else %}
            </div>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if ticket.description %}
      {{ ticket.description | extended_md(baselevel=4) }}
      {% endif %}
      <dl class="row" style="margin-top: 1rem">
        <dt class="col-md-3">Status</dt>
        <dd class="col-md-9">
          <strong class="text-success">
            {{ ticket.status.name.upper() }}
            {% if ticket.status == TicketStatus.resolved %}
            {{ ticket.resolution.name.upper() }}
            {% endif %}
          </strong>
        </dd>
        <dt class="col-md-3">Submitter</dt>
        <dd class="col-md-9">
          <a
            href="{{url_for("html.user_GET",
              username=ticket.submitter.username)}}"
          >~{{ ticket.submitter.username }}</a>
        </dd>
        <dt class="col-md-3">Submitted</dt>
        <dd class="col-md-9">{{ ticket.created | date }}</dd>
        <dt class="col-md-3">Updated</dt>
        <dd class="col-md-9">{{ ticket.updated | date }}</dd>
        <dt class="col-md-3">User Agent</dt>
        <dd class="col-md-9 ellipsis" title="{{ ticket.user_agent }}">
          {{ ticket.user_agent }}
        </dd>
        <dt class="col-md-3">Labels</dt>
        <dd class="col-md-9">
          {% for tl in ticket.labels %}
            <div
              class="label"
              style="color: {{ tl.label.text_color }}; background-color: {{ tl.label.color }}"
              >{{ tl.label.name }}
            </div>
          {% endfor %}
        </dd>

        {% if TicketAccess.edit in access %}
        <dt class="col-md-3">Add label</dt>
        <dd class="col-md-9">
          <form
            method="POST"
            action="{{
              url_for(".ticket_add_label",
                owner=tracker.owner.canonical_name(),
                name=tracker.name,
                ticket_id=ticket.scoped_id,
              )
            }}">
            <select id="label_id" name="label_id">
              <option>-- Pick one --</option>
              {% for label in tracker.labels if label not in labels %}
              <option value="{{ label.id }}">
                {{ label.name }}
              </option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </dd>
        {% else %}
          No labels
        {% endif %}

      </dl>
    </div>
    <div class="col-md-6">
      {% for comment in ticket.comments %}
      <h4>
        <a href="{{url_for("html.user_GET",
              username=comment.submitter.username)}}">
          ~{{ comment.submitter.username }}
        </a>
        <span class="pull-right">
          <small>{{ comment.created | date }}</small>
        </span>
      </h4>
      {{ comment.text | md }}
      {% endfor %}
      {% if TicketAccess.comment in access %}
      <form
        {% if any(ticket.comments) %}
        style="margin-top: 1rem"
        {% endif %}
        method="POST"
        action="{{
          url_for(".ticket_comment_POST",
            owner=tracker.owner.canonical_name(),
            name=tracker.name,
            ticket_id=ticket.scoped_id
          )
        }}">
        <div class="form-group" style="margin-bottom: 0.25rem">
          <textarea
            class="form-control {{ valid.cls("comment") }}"
            id="comment"
            name="comment"
            placeholder="Markdown supported"
            maxlength="16384"
            rows="5">{{ comment or "" }}</textarea>
          {{valid.summary("comment")}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
        >
          Comment {{icon("caret-right")}}
        </button>
        {% if TicketAccess.edit in access %}
        {% if ticket.status != TicketStatus.resolved %}
        <button
          type="submit"
          class="btn btn-success"
          name="resolve"
          value="resolve"
        >
          Resolve {{icon("check")}}
        </button>
        <select class="form-control" name="resolution">
          {% for r in TicketResolution %}
          {% if r.name != "unresolved" %}
          <option value="{{ r.value }}">{{ r.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
        {% else %}
        <button
          type="submit"
          class="btn btn-info"
          name="reopen"
          value="reopen"
        >
          Re-open {{icon("caret-right")}}
        </button>
        {% endif %}
        {% endif %}
      </form>
      {% else %}
      {% if not ticket.comments %}
      <p>It's a bit quiet in here.</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
