{% extends "settings.html" %}
{% block title %}
<title>Configure {{tracker.owner}}/{{tracker.name}} &mdash; {{ cfg("sr.ht", "site-name") }}</title>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-7">
    <form method="POST">
      {{csrf_token()}}
      <div class="form-group {{valid.cls("tracker_name")}}">
        <label for="tracker_name">
          Name
          <span class="text-muted">(you can't edit this)</p>
        </label>
        <input
          type="text"
          name="tracker_name"
          id="tracker_name"
          class="form-control"
          value="{{ tracker.name }}"
          disabled />
        {{ valid.summary("tracker_name") }}
      </div>
      <div class="form-group {{ valid.cls('tracker_desc') }}">
        <label for="tracker_desc">Description</label>
        <textarea
          name="tracker_desc"
          id="tracker_desc"
          class="form-control"
          rows="5"
          aria-describedby="tracker_desc-help"
          placeholder="Markdown supported"
        >{{tracker.desc or tracker.description}}</textarea>
        {{ valid.summary("tracker_desc") }}
      </div>
      {{ valid.summary() }}
      <span class="pull-right">
        <button type="submit" class="btn btn-primary">
          Save {{icon("caret-right")}}
        </button>
      </span>
    </form>
  </div>
</div>
{% endblock %}
