{% extends "todo.html" %}
{% block title %}
<title>
  {{tracker.name}}
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header-tabbed">
      <h2>
        <a href="{{ url_for("html.user_GET",
          username=tracker.owner.username) }}"
        >{{tracker.owner.canonical_name()}}</a>/{{tracker.name}}
      </h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {{ "active" if not search else "" }}"
            href="{{url_for(".tracker_GET",
                owner=tracker.owner.canonical_name(),
                name=tracker.name
              )}}">open tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{
              "active" if search == "status:closed" or search == "status:resolved" else ""
            }}" href="?search=status:closed">closed tickets</a>
        </li>
        {% if search and search != "status:closed" and search != "status:resolved" %}
        <li class="nav-item">
          <a class="nav-link active" href="?search={{ search }}">search results</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link"
            href="{{url_for(".tracker_labels_GET",
                owner=tracker.owner.canonical_name(),
                name=tracker.name
              )}}">labels</a>
        </li>
        {% if current_user and current_user.id == tracker.owner_id %}
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link" href="{{url_for(".configure_GET",
            owner=tracker.owner.canonical_name(),
            name=tracker.name)}}"
          >settings</a>
        </li>
        {% endif %}
        {% if current_user %}
        <li class="flex-grow-1 d-none d-sm-block"></li>
        <li class="nav-item d-none d-sm-block">
          <form method="POST" action="{{url_for("tracker." +
              ("disable_notifications" if is_subscribed else "enable_notifications"),
              owner=tracker.owner.canonical_name(),
              name=tracker.name)}}">
            <button class="nav-link active" type="submit">
              {{icon("envelope-o")}}
              {% if is_subscribed %}
              Disable notifications
              {% else %}
              Enable notifications
              {% endif %}
              {{icon("caret-right")}}
            </button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ tracker.description | md }}
      {% if TicketAccess.submit in access %}
      <h3 style="margin-top: 1rem">Submit ticket</h3>
      <form method="POST" action="{{
          url_for(".tracker_submit_POST",
            owner="~" + tracker.owner.username,
            name=tracker.name
          )
        }}">
        <div class="form-group">
          <label for="title">Title</label>
          <input
             type="text"
             class="form-control {{ valid.cls("title") }}"
             maxlength="2048"
             id="title"
             name="title"
             autofocus
             value="{{ title or "" }}" />
          {{valid.summary("title")}}
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control {{ valid.cls("description") }}"
            id="description"
            name="description"
            placeholder="Markdown supported"
            maxlength="16384"
            rows="5">{{ description or "" }}</textarea>
          {{valid.summary("description")}}
        </div>
        <button
          type="submit"
          class="btn btn-primary"
        >
          Submit {{icon("caret-right")}}
        </button>
        <label class="form-check-label" style="margin-left: 2rem">
          <input
            class="form-check-input"
            type="checkbox"
            name="another"
            style="position: relative; top: 2px;"
            {% if another %}
            checked
            {% endif %}> Submit another?
        </label>
      </form>
      {% else %}
      <hr />
      <p>You need to <a href="{{ oauth_url }}">log in</a> to submit tickets.</p>
      {% endif %}
    </div>
    <div class="col-md-8">
      <form style="margin-bottom: 0.5rem">
        <input
          name="search"
          type="text"
          placeholder="Search tickets...     status:closed     order:updated     submitter:me"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      {% if len(tickets) %}
      <div class="ticket-list">
        {% for ticket in tickets %}
        <div class="id">
          <a href="{{url_for("ticket.ticket_GET",
            owner=tracker.owner.canonical_name(),
            name=tracker.name,
            ticket_id=ticket.scoped_id)}}">#{{ticket.scoped_id}}</a></div>
        <div class="title">
          {{ ticket.title }}
          {% for tl in ticket.labels %}
          <div
            class="small label"
            style="color: {{ tl.label.text_color }}; background-color: {{ tl.label.color }}"
            >{{ tl.label.name }}
          </div>
          {% endfor %}
        </div>
        <div class="updated">{{ ticket.updated | date }}</div>
        <div class="submitter">
          <a href="{{url_for("html.user_GET",
            username=ticket.submitter.username)}}"
          >~{{ ticket.submitter.username }}</a>
        </div>
        {% if ticket.new_updates(current_user) %}
        <div class="comments">
          {{icon("comments-o")}}
          {{ ticket.comments | length }}
        </div>
        {% else %}
        <div class="comments">
          {{icon("comments")}}
          {{ ticket.comments | length }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <div class="alert alert-info">No tickets found for this search criteria.</div>
      {% endif %}
      {{pagination()}}
    </div>
  </div>
</div>
{% endblock %}
