{% extends "todo.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ format_tracker_name(tracker) }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ tracker.description | md }}
      <h3 style="margin-top: 1rem">Submit ticket</h3>
      <form method="POST" action="{{
          url_for(".tracker_submit_POST",
            owner="~" + tracker.owner.username,
            name=tracker.name
          )
        }}">
        <div class="form-group {{ valid.cls("title") }}">
          <label for="title">Title</label>
          <input
             type="text"
             class="form-control"
             maxlength="2048"
             id="title"
             name="title"
             autofocus
             value="{{ title or "" }}" />
          {{valid.summary("title")}}
        </div>
        <div class="form-group {{ valid.cls("description") }}">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="Markdown supported"
            maxlength="16384"
            rows="5">{{ description or "" }}</textarea>
          {{valid.summary("description")}}
        </div>
        <button
          type="submit"
          class="btn btn-default"
        >Submit</button>
        <label class="form-check-label" style="margin-left: 0.5rem">
          <input
            class="form-check-input"
            type="checkbox"
            name="another"
            style="position: relative; top: 2px;"
            {% if another %}
            checked
            {% endif %}> Submit another?
        </label>
      </form>
    </div>
    <div class="col-md-8">
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search tickets...     status:closed     order:updated     submitter:me"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="#">open tickets</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">closed tickets</a>
        </li>
      </ul>
      {% if len(tickets) %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Updated</th>
            <th>Submitter</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr>
            <td><a href="{{url_for(".ticket_GET",
                owner="~" + tracker.owner.username,
                name=tracker.name,
                ticket_id=ticket.scoped_id)}}">#{{ticket.scoped_id}}</a></td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.updated | date }}</td>
            <td><a href="{{url_for(".ticket_GET",
                owner="~" + tracker.owner.username,
                name=tracker.name,
                ticket_id=ticket.scoped_id)}}">{{ ticket.submitter.username }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-info">No tickets found for this search criteria.</div>
      {% endif %}
      {% if total_pages > 1 %}
      <div class="row">
        <div class="col-md-4">
        {% if page != 1 %}
          <a href="?page={{ page - 1 }}{{ '&search=' + search if search else '' }}">[previous]</a>
        {% endif %}
        </div>
        <div class="col-md-4 text-centered">
          [ {{ page }} / {{ total_pages }} ]
        </div>
        <div class="col-md-4 text-right">
        {% if page != total_pages %}
          <a href="?page={{ page + 1 }}{{ '&search=' + search if search else '' }}">[next]</a>
        {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
