{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ format_tracker_name(tracker) }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ tracker.description | md }}
      <h3 style="margin-top: 1rem">Submit ticket</h3>
      <form method="POST" action="{{
          url_for(".tracker_submit_GET",
            owner="~" + tracker.owner.username,
            name=tracker.name
          )
        }}">
        <div class="form-group {{ valid.cls("title") }}">
          <label for="title">Title</label>
          <input
             type="text"
             class="form-control"
             maxlength="2048"
             id="title"
             name="title"
             value="{{ title or "" }}" />
          {{valid.summary("title")}}
        </div>
        <div class="form-group {{ valid.cls("description") }}">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            placeholder="Markdown supported"
            maxlength="16384"
            rows="5">{{ description or "" }}</textarea>
          {{valid.summary("description")}}
        </div>
        <button
          type="submit"
          class="btn btn-default"
        >Submit</button>
        <label class="form-check-label" style="margin-left: 0.5rem">
          <input
            class="form-check-input"
            type="checkbox"
            name="another"
            style="position: relative; top: 2px;"
            {% if another %}
            checked
            {% endif %}> Submit another?
        </label>
      </form>
    </div>
    <div class="col-md-8">
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search tickets...     status:closed     order:updated     submitter:me"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="#">open tickets</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">closed tickets</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">board owner</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">can add</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">arbitrary tabs</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">users can also</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#">add personal ones</a>
        </li>
      </ul>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Updated</th>
            <th>Submitter</th>
          </tr>
        </thead>
        <tbody>
          {% for n in range(0, 3) %}
          <tr>
            <td><a href="#">#1289</a></td>
            <td>Won't start weston-terminal if WLC_XWAYLAND != 0</td>
            <td>3 days ago</td>
            <td><a href="#">johalun</a></td>
          </tr>
          <tr>
            <td><a href="#">#1287</a></td>
            <td>Variable prefix of another variable</td>
            <td>5 days ago</td>
            <td><a href="#">emersion</a></td>
          </tr>
          <tr>
            <td><a href="#">#1286</a></td>
            <td>Remove titlebar in tabbed mode too</td>
            <td>6 days ago</td>
            <td><a href="#">ormung</a></td>
          </tr>
          <tr>
            <td><a href="#">#1284</a></td>
            <td>Memory leaks in swaybar</td>
            <td>11 days ago</td>
            <td><a href="#">4e554c4c</a></td>
          </tr>
          <tr>
            <td><a href="#">#1278</a></td>
            <td>Chromium (Aura) context menus do not hold window focus.</td>
            <td>14 days ago</td>
            <td><a href="#">Zach-Button</a></td>
          </tr>
          <tr>
            <td><a href="#">#1266</a></td>
            <td>Inconsistent Caps Lock behavior</td>
            <td>19 days ago</td>
            <td><a href="#">zasma</a></td>
          </tr>
          <tr>
            <td><a href="#">#1260</a></td>
            <td>Sway on Void</td>
            <td>23 days ago</td>
            <td><a href="#">julio641742</a></td>
          </tr>
          <tr>
            <td><a href="#">#1245</a></td>
            <td>swaygrab appears to interpret spaces in filename</td>
            <td>Jun 19</td>
            <td><a href="#">louisch</a></td>
          </tr>
          <tr>
            <td><a href="#">#1230</a></td>
            <td>Build failure - gcc: fatal error: cannot specify -o with -c, -S, or -E with multiple files</td>
            <td>May 30</td>
            <td><a href="#">ng-0</a></td>
          </tr>
          <tr>
            <td><a href="#">#1229</a></td>
            <td>sway floating &gt; spawns at the top left corner instead of at the middle of the screen</td>
            <td>May 25</td>
            <td><a href="#">narutowindy</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-centered">
          [ 1 / 23 ]
        </div>
        <div class="col-md-4 text-right">
          <strong><a href="#">[next]</a></strong>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
