{% extends "layout.html" %}
{% block title %}
<title>
  Create tracker
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Create new tracker</h2>
      <form method="POST" action="/tracker/create">
        {{csrf_token()}}
        <div class="form-group">
          <label for="tracker_name">Name</label>
          <input
            type="text"
            name="tracker_name"
            id="tracker_name"
            class="form-control {{valid.cls("tracker_name")}}"
            value="{{ tracker_name or "" }}"
            aria-describedby="tracker_name-help" />
          {{valid.summary("tracker_name")}}
        </div>
        <div class="form-group">
          <label for="tracker_desc">Description</label>
          <textarea
            name="tracker_desc"
            id="tracker_desc"
            class="form-control {{valid.cls("tracker_desc")}}"
            value="{{ tracker_desc or "" }}"
            rows="5"
            aria-describedby="tracker_desc-help">{{tracker_desc or ""}}</textarea>
          <p id="tracker_desc-help" class="form-text text-muted">
            Markdown supported
          </p>
          {{valid.summary("tracker_desc")}}
        </div>
        {{valid.summary()}}
        <button
          type="submit"
          class="btn btn-primary"
          name="create"
        >
          Create tracker {{icon("caret-right")}}
        </button>
        <button
          type="submit"
          class="btn btn-default"
          name="create-configure"
        >
          Create &amp; configure {{icon("caret-right")}}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
