{% extends "layout.html" %}
{% block title %}
<title>
  Create tracker
  &mdash;
  {{ cfg("sr.ht", "site-name") }} todo
</title>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Create new tracker</h2>
      <form method="POST" action="/tracker/create">
        {{csrf_token()}}
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control {{valid.cls("name")}}"
            value="{{ name or "" }}"
            aria-describedby="name-help" />
          {{valid.summary("name")}}
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control {{valid.cls("description")}}"
            value="{{ description or "" }}"
            rows="5"
            aria-describedby="description-help">{{description or ""}}</textarea>
          <p id="description-help" class="form-text text-muted">
            Markdown supported
          </p>
          {{valid.summary("description")}}
        </div>
        {{valid.summary()}}
        <button
          type="submit"
          class="btn btn-primary"
          name="create"
        >
          Create tracker {{icon("caret-right")}}
        </button>
        <button
          type="submit"
          class="btn btn-default"
          name="create-configure"
        >
          Create &amp; configure {{icon("caret-right")}}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
