{% extends "settings.html" %}
{% block title %}
<title>Configure {{tracker.owner}}/{{tracker.name}} &mdash; {{ cfg("sr.ht", "site-name") }}</title>
{% endblock %}
{% block content %}
<form class="row" method="POST">
  {{csrf_token()}}
  <div class="col-md-6">
    <div class="form-group {{valid.cls("tracker_name")}}">
      <label for="tracker_name">
        Name
        <span class="text-muted">(you can't edit this)</p>
      </label>
      <input
        type="text"
        name="tracker_name"
        id="tracker_name"
        class="form-control"
        value="{{ tracker.name }}"
        disabled />
      {{ valid.summary("tracker_name") }}
    </div>
    <div class="form-group {{ valid.cls('tracker_desc') }}">
      <label for="tracker_desc">Description</label>
      <textarea
        name="tracker_desc"
        id="tracker_desc"
        class="form-control"
        rows="5"
        aria-describedby="tracker_desc-help"
        placeholder="Markdown supported"
      >{{tracker.desc or tracker.description}}</textarea>
      {{ valid.summary("tracker_desc") }}
    </div>
    {{ valid.summary() }}
    <span class="pull-right">
      <button type="submit" class="btn btn-primary">
        Save {{icon("caret-right")}}
      </button>
    </span>
  </div>
  <div class="col-md-6 d-flex flex-column">
    <fieldset class="form-group">
      <legend>Tracker Visibility</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="visibility"
            value="PUBLIC"
            {% if tracker.visibility.value == "PUBLIC" %}
            checked
            {% endif %}
            > Public
          <small id="visibility-public-help" class="form-text text-muted">
            Shown on your profile page
          </small>
        </label>
      </div>
      <div class="form-check">
        <label
            class="form-check-label"
            title="Visible to anyone with the link, but not shown on your profile"
          >
          <input
            class="form-check-input"
            type="radio"
            name="visibility"
            value="UNLISTED"
            {% if tracker.visibility.value == "UNLISTED" %}
            checked
            {% endif %}
            > Unlisted
          <small id="visibility-unlisted-help" class="form-text text-muted">
            Visible to anyone who knows the URL, but not shown on your profile
          </small>
        </label>
      </div>
      <div class="form-check">
        <label
          class="form-check-label"
          title="Only visible to you and your collaborators"
        >
          <input
            class="form-check-input"
            type="radio"
            name="visibility"
            value="PRIVATE"
            {% if tracker.visibility.value == "PRIVATE" %}
            checked
            {% endif %}
            > Private
          <small id="visibility-unlisted-help" class="form-text text-muted">
            Only visible to you and your collaborators
          </small>
        </label>
      </div>
    </fieldset>
  </div>
</form>
{% endblock %}
